.submitButton {
  height: 40px;
  border-radius: 6px;
  border-style: none;
  display: block;
  padding: 9px 14px 11px 14px;
  background: #764AF4;
  background-size: 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: center;
}