.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #0D1119;
  border-radius: 10px;
  gap: 24px;
  width: 410px;
  box-sizing: border-box;
  height: auto;
  /* height: ; */
}
* {
  font-family: Bai Jamjuree;
}




